// @import 'material.min.scss';
/*.github-pic{
  height: 400px;
  background-image: url('https://avatars0.githubusercontent.com/u/6554921?v=3&s=460.jpg');
}*/
.material-text{
  position: relative;
  top: 5px;
  padding-right: 5px;
}
.mdl-card:nth-child(even){
  background: #2196F3;
  .mdl-card__title-text,.mdl-card__supporting-text,.mdl-card__menu{
    color: #fff;
  }
}

.container{
  width: 100%
}
